h1 {
  color: rgb(32, 32, 32);
  font-size: 60px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 10px;
}

h2 {
  color: rgb(32, 32, 32);
  font-size: 34px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

h3 {
  color: rgb(32, 32, 32);
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: black;
  color: white;
  background-color: #eeffd7;
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  border-radius: 12px;
  height: 50px;
  width: 50rem;
  font-size: 40px;
  padding: 10px;
  margin: 20px;
}

.button {
  margin: 10 10px;
  color: rgb(255, 255, 255);
  background-color: #53545e;
  padding: 10px;
  border: 0px solid white;
  transition-duration: 0.3s;
  height: 80px;
  width: 180px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 12px;
}

.button:hover {
  cursor: pointer;
}

.centre {
  text-align: center;
}

.font {
  font-family: Arial, Helvetica, sans-serif;
}
